
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

#apiImg {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.window {
  background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
  color: #00e6f3;
  border: 3px solid #f1f1f1;
  z-index: 2;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
